<h1>Books#index</h1>
<% @books.each do |book| %>
  Ranked: <%= book.num_votes %>
  <%= link_to book.title, {action: 'show', id: book}, method: :get %>
  <%= button_to "Upvote", book_upvote_path(book.id), method: :patch %>
<% end %>
<%= button_to "View All Media", root_path, method: :get %>
<%= button_to "Add a Book", new_book_path, method: :get %>
