<h1><%= @album.title %></h1>

<h2>Recorded by: <%= @album.artist %></h2>

<h3>Ranked: <%= @album.num_votes %></h3>

<%= @album.description %>

<%= button_to "Upvote", album_upvote_path(@album.id), method: :patch %>

<%= button_to "Edit #{@album.title}", edit_album_path(@album.id), method: :get %>

<%= button_to "DELETE", album_path(@album.id), method: :delete, data: {confirm: "Are you sure?"} %>

<%= button_to "View All Albums", albums_path, method: :get %>

<%= button_to "View All Media", root_path, method: :get %>
